<!DOCTYPE html>
<div class="container-fluid" data-ng-init="getTreeFinderInstances(paramObj.instanceid)">
   
   
  <div data-ng-show="instances.length==0">
  <div class="center-align">
  <img src="../img/ajax-loader.gif" height="100" width="100"/>
  </div>
  </div>
  

 <div class="noListStyle">
  <ul>
	<li class="noListStyle" data-ng-repeat="instance in treeInstances" data-ng-include="'tree_instance_renderer.html'">
	</li>
  </ul>
 </div>
  
  
	</div>
  
 
  